html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #009879;
    color: #fff;
    text-align: center;
}

.btn {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-outline-primary:active{
    border: 2px solid #008CBA;
    color: #008CBA;
}

.btn-outline-primary{
    border: 2px solid #008CBA;
    color: #008CBA;
}

.btn-outline-primary:hover{
    background-color: #008CBA;
    color: #dddddd;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    flex-direction: column;
}